#django settings
media

# datebase:db.sqlite3
*.sqlite3


# My configurations:
db.ini
deploy_key_rsa

# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.pyc
*.so
*.egg
*.egg-info
dist
build
