<html>
	<head><title>Test about commit to master for branch</title></head>
	<body>
	
	<div id='stage_1'>
		<h1>git branch create</h1>
		<h2>
			<ul>
				git branch jack
				git checkout jack
				git pull
				touch ./branch.html
				git status
				git commit -m 'commit branch update..'
				git push
				git push -u origin master
				
			
			
			</ul>
		
		</h2>

	
	</div>	
	
	<div id='stage_2'>
	
		<h2> git checkout master</h2>
		<ul>
		     git merge
		
		</ul>






	</div>
	
	
	</body>


</html>
